<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    style="border-radius: 7px"
    width="100"
    alt="LBM Logo"
    src="../assets/labella.gif"
  />
  <span>Cadastro de clientes</span>
  <div class="spacer"></div>
</div>

<div class="container" role="main">
  <form [formGroup]="clientes">
    <h1>Formulário de Cadastro Cliente</h1>

    <div class="center_align">
      <div class="row grupos">
        <div class="col-lg-6 col-grupos">
          <h2>Código Cliente:</h2>
          <mat-form-field
            appearance="fill"
            [(ngModel)]="cod_cliente"
            [ngModelOptions]="{ standalone: true }"
            ngDefaultControl
          >
            <mat-label>Código do Cliente:</mat-label>
            <input matInput formControlName="cod_cli" (blur)="getClientes()" />
          </mat-form-field>
        </div>
        <span class="alert_error" *ngIf="show_alert"
          >Código Cliente não encontrado! Insira manualmente o nome da
          Loja.</span
        >
        <div class="col-lg-6 col-grupos">
          <h2>Código Grupo:</h2>
          <mat-form-field appearance="fill">
            <mat-label>Código grupo:</mat-label>
            <input matInput formControlName="cod_grupo" />
          </mat-form-field>
        </div>
      </div>
    </div>
    <br />

    <div class="row grupos">
      <div class="col-lg-6 col-grupos">
        <mat-form-field
          class="wd-400 f-row"
          appearance="fill"
          appearance="fill"
        >
          <mat-label>Nome da Loja:</mat-label>
          <input matInput formControlName="nome_loja" [value]="nome_loja" />
        </mat-form-field>
      </div>

      <!-- Não mostrar no front -->
      <div class="col-lg-6 col-grupos" style="display: none">
        <mat-form-field appearance="fill" appearance="fill">
          <mat-label>CNPJ:</mat-label>
          <input matInput formControlName="cnpj" [value]="cnpj" />
        </mat-form-field>
      </div>
      <!-- Não mostrar no front -->

      <div class="col-lg-6 col-grupos">
        <mat-form-field appearance="fill">
          <mat-label>Ano de inauguração:</mat-label>
          <input matInput formControlName="ano_inauguracao" />
        </mat-form-field>
      </div>
    </div>

    <!-- ATIVAR SE SOLICITADO -->
    <!-- <div class="row">
      <h3>Email:</h3>
      <mat-form-field class="wd-400" appearance="fill">
        <mat-label>nome@email.com</mat-label>
        <input
          matInput
          formControlName="email"
          type="text"
        />
      </mat-form-field>
    </div>

    <div class="row">
      <h3>Instagram Pessoal</h3>
      <mat-form-field class="wd-400" appearance="fill">
        <mat-label>@instagram</mat-label>
        <input
          matInput
          formControlName="instagram_pessoal"
          type="text"
        />
      </mat-form-field>
    </div>

    <div class="row">
      <h3>Instagram Loja</h3>
      <mat-form-field class="wd-400" appearance="fill">
        <mat-label>@instagram</mat-label>
        <input
          matInput
          formControlName="instagram_loja"
          type="text"
        />
      </mat-form-field>
    </div> -->

    <hr />
    <div class="row">
      <h2>Quanto Fatura por Mês?</h2>
      <mat-form-field
        [(ngModel)]="faturamento"
        [ngModelOptions]="{ standalone: true }"
        ngDefaultControl
        appearance="fill"
      >
        <mat-label>Valor</mat-label>
        <input
          matInput
          formControlName="faturamento_mes"
          type="number"
          min="0"
          step="100"
          (blur)="verificaFaturamento()"
        />
      </mat-form-field>
    </div>

    <div class="row">
      <h2>Limite</h2>
      <mat-form-field
        [(ngModel)]="limite"
        [ngModelOptions]="{ standalone: true }"
        ngDefaultControl
        appearance="fill"
      >
        <mat-label>Valor</mat-label>
        <input
          matInput
          formControlName="limite"
          type="number"
          min="0"
          step="100"
          (blur)="verificaFaturamento()"
        />
      </mat-form-field>
    </div>

    <div class="row">
      <h2>Quantidade de marcas vendidas?</h2>
      <mat-form-field
        [(ngModel)]="selectedValue1"
        appearance="fill"
        [ngModelOptions]="{ standalone: true }"
        ngDefaultControl
      >
        <mat-label>Quantidade</mat-label>
        <input
          type="number"
          min="1"
          max="6"
          matInput
          formControlName="qnt_marcas"
          (blur)="getQntMarcas()"
        />
      </mat-form-field>
    </div>

    <div class="row grupos">
      <div class="col-lg-3 col-grupos">
        <div *ngFor="let item of numbers1">
          <mat-form-field appearance="fill">
            <mat-label>Nome Marca {{ item + 1 }}</mat-label>
            <input matInput formControlName="nome_marcas{{ item + 1 }}" />
          </mat-form-field>
        </div>
      </div>

      <div class="col-lg-3 col-grupos">
        <div *ngFor="let item of numbers1">
          <mat-form-field appearance="fill" class="qntMarcas">
            <mat-label>Tempo com a marca {{ item + 1 }}</mat-label>
            <input matInput formControlName="tempo_com_marca{{ item + 1 }}" />
          </mat-form-field>
        </div>
      </div>

      <div class="col-lg-3 col-grupos">
        <div *ngFor="let item of numbers1">
          <mat-form-field appearance="fill" class="wd-150">
            <mat-label>Percentual {{ item + 1 }}</mat-label>
            <input
              matInput
              formControlName="qnt_percentual{{ item + 1 }}"
              type="number"
              min="0"
              max="100"
              (blur)="verificaFaturamento()"
            />
          </mat-form-field>
        </div>
      </div>

      <div class="col-lg-3 col-grupos">
        <mat-form-field appearance="fill">
          <mat-label>Share</mat-label>
          <input matInput formControlName="share" [value]="limite_verificado" />
        </mat-form-field>
      </div>
    </div>

    <br />
    <div *ngIf="solicita_motivo_limite">
      <div class="row">
        <h3>Pedido Superior ao limite</h3>
        <mat-form-field class="motivo" appearance="fill">
          <mat-label
            >Justifique o motivo do pedido estar acima do limite de
            crédito</mat-label
          >
          <textarea
            formControlName="limite_exedido"
            matInput
            cols="30"
          ></textarea>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <h2>Gostaria de aumento de limite?</h2>
      <section class="checked-section">
        <label class="checked-margin"></label>
        <mat-radio-group formControlName="solicita_aumento">
          <mat-radio-button color="primary" class="checked-margin" value="sim"
            >Sim</mat-radio-button
          >
          <mat-radio-button color="primary" class="checked-margin" value="nao"
            >Não</mat-radio-button
          >
        </mat-radio-group>
      </section>
    </div>

    <div class="row">
      <h3>Motivo</h3>
      <mat-form-field class="motivo" appearance="fill">
        <mat-label>Descreva o motivo</mat-label>
        <textarea formControlName="motivo" matInput cols="30"></textarea>
      </mat-form-field>
    </div>

    <!-- Não está funcionando no heroku -->
    <!-- <div class="row">
      <h2>Extrato conta</h2>
      <input type="file" (change)="uploadImg($event)" />
    </div> -->

    <div class="row">
      <h2>Aceita avaliar o pedido</h2>
      <div>
        <section class="checked-section">
          <label class="checked-margin"></label>
          <mat-radio-group formControlName="aceita_avaliar_pedido">
            <mat-radio-button
              [checked]="true"
              color="primary"
              class="checked-margin"
              value="sim"
              ><p style="font-size: 20px">Sim</p></mat-radio-button
            >
            <mat-radio-button color="primary" class="checked-margin" value="nao"
              >Não</mat-radio-button
            >
          </mat-radio-group>
        </section>
      </div>
    </div>

    <hr />

    <div class="row">
      <h2>Possui mais de uma loja?</h2>
      <section
        [(ngModel)]="maisDeUmaLoja"
        [ngModelOptions]="{ standalone: true }"
        ngDefaultControl
        class="checked-section"
      >
        <label class="checked-margin"></label>
        <mat-radio-group formControlName="possui_mais_de_uma_loja">
          <mat-radio-button color="primary" class="checked-margin" value="sim"
            >Sim</mat-radio-button
          >
          <mat-radio-button color="primary" class="checked-margin" value="nao"
            >Não</mat-radio-button
          >
        </mat-radio-group>
      </section>
    </div>

    <div *ngIf="maisDeUmaLoja == 'sim'" class="row">
      <h2>Quantas lojas possui?</h2>
      <mat-form-field
        [(ngModel)]="selectedValue2"
        appearance="fill"
        [ngModelOptions]="{ standalone: true }"
        ngDefaultControl
      >
        <mat-label>Quantidade de lojas</mat-label>
        <input
          type="number"
          min="1"
          max="8"
          matInput
          formControlName="qnt_lojas"
          (blur)="getQntLojas()"
        />
      </mat-form-field>
    </div>

    <div class="row grupos">
      <div class="col-lg-8">
        <div *ngFor="let item of numbers2">
          <mat-form-field class="wd-400" appearance="fill">
            <mat-label>Nome {{ item + 1 }}</mat-label>
            <input matInput formControlName="nomes_lojas{{ item + 1 }}" />
          </mat-form-field>
        </div>
      </div>

      <div class="col wr-local">
        <div *ngFor="let item of numbers2">
          <mat-form-field appearance="fill">
            <mat-label>Local {{ item + 1 }}:</mat-label>
            <mat-select formControlName="local{{ item + 1 }}">
              <mat-option value="bairro_loja_de_rua"
                >bairro (loja de rua)</mat-option
              >
              <mat-option value="bairro_sala_comercial"
                >bairro (sala comercial)</mat-option
              >
              <mat-option value="centro_loja_de_rua"
                >centro (loja de rua)</mat-option
              >
              <mat-option value="centro_sala_comercial"
                >centro (sala comercial)</mat-option
              >
              <mat-option value="shoppingsala_comercial">shopping</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="row">
      <h2>Possui um canal de venda online?</h2>
      <section
        [(ngModel)]="maisDeUmCanal"
        [ngModelOptions]="{ standalone: true }"
        ngDefaultControl
        class="checked-section"
      >
        <label class="checked-margin"></label>
        <mat-radio-group formControlName="possui_canal_de_venda">
          <mat-radio-button color="primary" class="checked-margin" value="sim"
            >Sim</mat-radio-button
          >
          <mat-radio-button color="primary" class="checked-margin" value="nao"
            >Não</mat-radio-button
          >
        </mat-radio-group>
      </section>
    </div>

    <div *ngIf="maisDeUmCanal == 'sim'" class="row">
      <h2>Canais digitais em que faz vendas:</h2>
      <mat-form-field appearance="fill">
        <mat-label>Selecionar:</mat-label>
        <mat-select formControlName="canais_digitais" multiple>
          <mat-option value="ecommerce">E-Commerce</mat-option>
          <mat-option value="instagram">Instagram</mat-option>
          <mat-option value="facebook">Facebook</mat-option>
          <mat-option value="whatsapp">Whatsapp</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div *ngIf="maisDeUmCanal == 'sim'" class="row">
      <h2>Selecione o canal que representa a resposta de cada item:</h2>

      <h3>O canal que representa o maior número de interessados em compras:</h3>
      <mat-form-field appearance="fill">
        <mat-label>Selecionar</mat-label>
        <mat-select formControlName="canal_venda_interessados">
          <mat-option value="ecommerce">E-Commerce</mat-option>
          <mat-option value="instagram">Instagram</mat-option>
          <mat-option value="facebook">Facebook</mat-option>
          <mat-option value="whatsapp">Whatsapp</mat-option>
        </mat-select>
      </mat-form-field>

      <h3>
        O canal que representa o maior responsável por fazer a sua loja efetuar
        vendas, mesmo que o canal seja apenas o primeiro contato do atendimento
        que gerará a venda:
      </h3>
      <mat-form-field appearance="fill">
        <mat-label>Selecionar</mat-label>
        <mat-select formControlName="canal_venda_mais_vendas">
          <mat-option value="ecommerce">E-Commerce</mat-option>
          <mat-option value="instagram">Instagram</mat-option>
          <mat-option value="facebook">Facebook</mat-option>
          <mat-option value="whatsapp">Whatsapp</mat-option>
        </mat-select>
      </mat-form-field>

      <h3>
        O canal que você tem mais dificuldade em divulgar seus produtos mas
        gostaria de bombar
      </h3>
      <mat-form-field appearance="fill">
        <mat-label>Selecionar</mat-label>
        <mat-select formControlName="canal_vendas_dificuldade">
          <mat-option value="ecommerce">E-Commerce</mat-option>
          <mat-option value="instagram">Instagram</mat-option>
          <mat-option value="facebook">Facebook</mat-option>
          <mat-option value="whatsapp">Whatsapp</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div *ngIf="maisDeUmCanal == 'sim'" class="row">
      <h2>Informe os endereços dos canais de venda online do cliente</h2>
      <div class="col">
        <mat-form-field class="wd-400" appearance="fill">
          <mat-label>E-Commerce</mat-label>
          <input matInput formControlName="endereco_canal_ecommerce" />
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="wd-400" appearance="fill">
          <mat-label>Instagram</mat-label>
          <input matInput formControlName="endereco_canal_instagram" />
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="wd-400" appearance="fill">
          <mat-label>Facebook</mat-label>
          <input matInput formControlName="endereco_canal_facebook" />
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="wd-400" appearance="fill">
          <mat-label>Whatsapp</mat-label>
          <input matInput formControlName="endereco_canal_whatsapp" />
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <h2>Qual é a quantidade de vendedores?</h2>
      <mat-form-field appearance="fill">
        <mat-label>Selecionar</mat-label>
        <mat-select formControlName="qnt_vendedores">
          <mat-option value="ate_2">até 2 Vendedores</mat-option>
          <mat-option value="de_2_a_4">2 à 4 vendedores</mat-option>
          <mat-option value="de_4_a_6">4 à 6 vendedores</mat-option>
          <mat-option value="acima_7">acima de 7 vendedores</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row">
      <h2>
        Sobre exposição de produtos em vitrine e expositores (VM) o cliente se
        encaixaria em qual dessas opções
      </h2>
      <mat-form-field appearance="fill">
        <mat-label>Selecionar</mat-label>
        <mat-select formControlName="vitrine_expositor" multiple>
          <mat-option value="vitrini_grande">Vitrine grande</mat-option>
          <mat-option value="vitrine_pequena">Vitrine pequena</mat-option>
          <mat-option value="vitrini_dupla"
            >Vitrine dupla (lado esquerdo e direito)</mat-option
          >
          <mat-option value="vitrini_com_manequins"
            >Vitrine com manequins</mat-option
          >
          <mat-option value="vitrini_sem_manequins"
            >Vitrine sem manequins</mat-option
          >
          <mat-option value="vitrini_pendurar_no_teto"
            >Vitrine com opção de pendurar no teto</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row">
      <h2>Informe o tamanho da área da loja:</h2>
      <mat-form-field appearance="fill">
        <mat-label>Selecionar</mat-label>
        <mat-select formControlName="tamanho_loja">
          <mat-option value="ate_25m">até 25m²</mat-option>
          <mat-option value="de_25_a_50m">25 à 50 m²</mat-option>
          <mat-option value="de_50_a_75m">50 à 75 m²</mat-option>
          <mat-option value="acima_de_75m">acima de 75m²</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row">
      <h2>Oferta para qual público?</h2>
      <mat-form-field appearance="fill">
        <mat-label>Selecionar</mat-label>
        <mat-select formControlName="qual_publico">
          <mat-option value="feminino">Feminino</mat-option>
          <mat-option value="masculino">Masculino</mat-option>
          <mat-option value="ambos">Ambos</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row">
      <h2>Oferta de mix: o que é ofertado na loja?</h2>
      <mat-form-field appearance="fill">
        <mat-label>Selecionar</mat-label>
        <mat-select formControlName="mix_ofertado">
          <mat-option value="casual_fitness">Casual, Fitness</mat-option>
          <mat-option value="acessorios">Acessórios</mat-option>
          <mat-option value="calcados">Calçados</mat-option>
          <mat-option value="beachwear">Beachwear</mat-option>
          <mat-option value="outros">Outros</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row">
      <h3>
        Oferta de mix <strong>casual</strong>: selecione o percentual que melhor
        traduz a representatividade das peças casuais em relação à oferta total
        da loja.
      </h3>
      <mat-form-field appearance="fill">
        <mat-label>Selecionar</mat-label>
        <mat-select formControlName="percentual_casual">
          <mat-option value="ate_25">0% até 25%</mat-option>
          <mat-option value="de_25_a_50">25 à 50%</mat-option>
          <mat-option value="de_50_a_75">50 à 75%</mat-option>
          <mat-option value="acima_75">acima de 75%</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row">
      <h3>
        Oferta de mix <strong>fitness</strong>: selecione o percentual que
        melhor traduz a representatividade das peças casuais em relação à oferta
        total da loja.
      </h3>
      <mat-form-field appearance="fill">
        <mat-label>Selecionar</mat-label>
        <mat-select formControlName="percentual_fitness">
          <mat-option value="ate_25">0% até 25%</mat-option>
          <mat-option value="de_25_a_50">25 à 50%</mat-option>
          <mat-option value="de_50_a_75">50 à 75%</mat-option>
          <mat-option value="acima_75">acima de 75%</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row">
      <h3>
        Oferta de mix de <strong>acessórios</strong>: selecione o percentual que
        melhor traduz a representatividade das peças casuais em relação à oferta
        total da loja.
      </h3>
      <mat-form-field appearance="fill">
        <mat-label>Selecionar</mat-label>
        <mat-select formControlName="percentual_acessorios">
          <mat-option value="ate_25">0% até 25%</mat-option>
          <mat-option value="de_25_a_50">25 à 50%</mat-option>
          <mat-option value="de_50_a_75">50 à 75%</mat-option>
          <mat-option value="acima_75">acima de 75%</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row">
      <h3>
        Oferta mix de <strong>calçados</strong>: selecione o percentual que
        melhor traduz a representatividade das peças casuais em relação à oferta
        total da loja.
      </h3>
      <mat-form-field appearance="fill">
        <mat-label>Selecionar</mat-label>
        <mat-select formControlName="percentual_calcados">
          <mat-option value="ate_25">0% até 25%</mat-option>
          <mat-option value="de_25_a_50">25 à 50%</mat-option>
          <mat-option value="de_50_a_75">50 à 75%</mat-option>
          <mat-option value="acima_75">acima de 75%</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row">
      <h3>
        Oferta de mix <strong>beachwear</strong>: selecione o percentual que
        melhor traduz a representatividade das peças casuais em relação à oferta
        total da loja.
      </h3>
      <mat-form-field appearance="fill">
        <mat-label>Selecionar</mat-label>
        <mat-select formControlName="percentual_beachwear">
          <mat-option value="ate_25">0% até 25%</mat-option>
          <mat-option value="de_25_a_50">25 à 50%</mat-option>
          <mat-option value="de_50_a_75">50 à 75%</mat-option>
          <mat-option value="acima_75">acima de 75%</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row">
      <h3>
        O que o cliente considera essencial hoje para manter uma marca ativa
        (comprar todas as coleções do ano) em sua loja?
      </h3>
      <mat-form-field class="motivo" appearance="fill">
        <mat-label>Descreva</mat-label>
        <textarea
          formControlName="considera_essencial"
          matInput
          cols="30"
        ></textarea>
      </mat-form-field>
    </div>

    <div class="row">
      <h3>
        Quais as principais <strong>razões de uma marca vender muito</strong> em
        sua loja?
      </h3>
      <mat-form-field class="motivo" appearance="fill">
        <mat-label>Descreva</mat-label>
        <textarea
          formControlName="razoes_vender_muito"
          matInput
          cols="30"
        ></textarea>
      </mat-form-field>
    </div>

    <div class="row">
      <h3>
        Aponte o momento em que a sua loja alcança o maior volume de vendas, em
        ordem decrescente.
      </h3>
      <mat-form-field appearance="fill">
        <mat-label>Selecionar</mat-label>
        <mat-select formControlName="momento_maior_vendas">
          <mat-option value="liquidacao_colecao_verao"
            >Liquidação ao final da coleção de verão</mat-option
          >
          <mat-option value="liquidacao_colecao_inverno"
            >Liquidação ao final da coleção de inverno</mat-option
          >
          <mat-option value="lancamento_colecao_verao"
            >Lançamento de coleção de verão</mat-option
          >
          <mat-option value="lancamento_colecao_inverno"
            >Lançamento da coleção de inverno</mat-option
          >
          <mat-option value="natal">Natal</mat-option>
          <mat-option value="blackfriday">Blackfriday</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row">
      <h3>
        No <strong>momento da compra de uma coleção</strong>, o que é essencial
        para a sua experiência em relação à marca?
      </h3>
      <mat-form-field class="motivo" appearance="fill">
        <mat-label>Descreva</mat-label>
        <textarea
          formControlName="essencial_compra_colecao"
          matInput
          cols="30"
        ></textarea>
      </mat-form-field>
    </div>

    <div class="row">
      <h2>
        Em relação ao
        <strong>suporte fornecido com materiais de marketing</strong> para a sua
        loja, responda:
      </h2>
      <h3>O que sente mais falta?</h3>
      <mat-form-field class="motivo" appearance="fill">
        <mat-label>Descreva</mat-label>
        <textarea
          formControlName="marketing_sente_falta"
          matInput
          cols="30"
        ></textarea>
      </mat-form-field>
      <h3>O que te ajuda muito?</h3>
      <mat-form-field class="motivo" appearance="fill">
        <mat-label>Descreva</mat-label>
        <textarea
          formControlName="marketing_ajuda_muito"
          matInput
          cols="30"
        ></textarea>
      </mat-form-field>
    </div>

    <hr />
    <div class="row">
      <h2>Enviar formulário</h2>
      <div>
        <button
          mat-flat-button
          color="primary"
          (click)="salvar()"
          [disabled]="clientes.invalid"
        >
          Enviar
        </button>
        <button
          mat-flat-button
          color="warn"
          style="margin-left: 10px"
          (click)="cancelar()"
        >
          Cancelar
        </button>
      </div>
    </div>
  </form>

  <!-- Footer -->
  <footer class="page-footer font-small blue fixed-bottom">
    <div class="footer-copyright text-center footer-wrapper">
      © 2022 Copyright:
      <a class="link-footer" href="https://labellamafia.com.br">Labellamafia</a>
    </div>
  </footer>

  <svg
    id="clouds"
    xmlns="http://www.w3.org/2000/svg"
    width="2611.084"
    height="485.677"
    viewBox="0 0 2611.084 485.677"
  >
    <title>Gray Clouds Background</title>
    <path
      id="Path_39"
      data-formControlName="Path 39"
      d="M2379.709,863.793c10-93-77-171-168-149-52-114-225-105-264,15-75,3-140,59-152,133-30,2.83-66.725,9.829-93.5,26.25-26.771-16.421-63.5-23.42-93.5-26.25-12-74-77-130-152-133-39-120-212-129-264-15-54.084-13.075-106.753,9.173-138.488,48.9-31.734-39.726-84.4-61.974-138.487-48.9-52-114-225-105-264,15a162.027,162.027,0,0,0-103.147,43.044c-30.633-45.365-87.1-72.091-145.206-58.044-52-114-225-105-264,15-75,3-140,59-152,133-53,5-127,23-130,83-2,42,35,72,70,86,49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33,61.112,8.015,113.854-5.72,150.492-29.764a165.62,165.62,0,0,0,110.861-3.236c47,94,178,113,251,33,31.385,4.116,60.563,2.495,86.487-3.311,25.924,5.806,55.1,7.427,86.488,3.311,73,80,204,61,251-33a165.625,165.625,0,0,0,120,0c51,13,108,15,157-5a147.188,147.188,0,0,0,33.5-18.694,147.217,147.217,0,0,0,33.5,18.694c49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33C2446.709,1093.793,2554.709,922.793,2379.709,863.793Z"
      transform="translate(142.69 -634.312)"
      fill="#eee"
    />
  </svg>
</div>
