
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 25px 0 16px 0 !important;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #000000;
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}

.container {
  margin-top: 100px;
  padding-bottom: 50px;
}

form {
  padding: 10px 50px 50px;
  border: 1px solid #bbbbbb;
  border-radius: 5px;
  background-color: rgb(255, 255, 255, 0.5);
}

.row {
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.center_align {
  text-align: center;
}

.codigo-wrapper {
  flex-direction: row !important;
  justify-content: center;
  margin-top: 50px;
  margin-left: -100px;
}

.codigo-wrapper > h2 {
  margin: 10px !important;
  align-self: baseline;
}

.alert_error {
  font-size: 12px;
  color: red;
}

.qntMarcas {
  margin: 0 5px;
}

.wd-400 {
  width: 400px;
}
.wd-150 {
  width: 150px;
}

.wr-local {
  margin-left: -190px;
}

.f-row {
  margin-left: -100px;
}

@media screen and (max-width: 600px) {
  .qntMarcas {
    margin: 0;
  }
  .wd-150 {
    width: auto;
  }
  .wd-400 {
    width: 240px;
  }
  .wr-local {
    margin-left: 0;
  }
  .f-row {
    margin-left: -20px;
  }
  .codigo-wrapper {
    margin-left: 0;
  }
}

.grupos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
}

.col-grupos {
  max-width: 200px;
}

.checked-section {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 60px;
}

.checked-margin {
  margin: 0 10px;
}

.motivo {
  min-width: 250px;
  width: 50%;
}

.avaliar_sim {
  /* width: 200px;
  height: 70px;
  background-color: green; */
  font-size: 1.5em;
  /* padding-top: 13px; */
}

footer {
  color: aliceblue;
  background-color: #585858;
}
.footer-wrapper {
  padding: 5px;
  font-size: 12px;
}

.link-footer {
  color: azure;
  font-size: 12px;
  font-weight: 500;
}

svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}
